[submodule "Customizing/global/plugins/Services/Repository/RepositoryObject/CSN"]
	path = Customizing/global/plugins/Services/Repository/RepositoryObject/CSN
	url = https://github.com/conceptsandtraining/CSN.git
