<div>
    <div class="prg-dash-title">
        {PRG_TITLE}
    </div>
    <div class="prg-dash-description">
        {PRG_DESCRIPTION}
    </div>
    <hr>
    <div>{LABEL_VALID}</div>
    <div>{VALUE_VALID}</div>
    <div>{LABEL_MINIMUM}</div>
    <div>{VALUE_MINIMUM}</div>
    <div>{LABEL_GAIN}</div>
    <div>{VALUE_GAIN}</div>
    <div>{LABEL_STATUS}</div>
    <div>{VALUE_STATUS}</div>
    <!-- BEGIN finish_until -->
    <div>{LABEL_FINISH_UNTIL}</div>
    <div>{VALUE_FINISH_UNTIL}</div>
    <!-- END finish_until -->
    <!-- BEGIN restart_from -->
    <div>{LABEL_RESTART_FROM}</div>
    <div>{VALUE_RESTART_FROM}</div>
    <!-- END restart_from -->
</div>