<!-- BEGIN work_instructions -->
<div class="ilInfoScreenSec" id="mass_edit_member_section_work_instructions">
	<h3>{TXT_SECTION_WORK_INSTRUCTION}</h3>
	<div>
		<div class="ilFloatLeft massUserEditLeft">
			{WORK_INSTRUCTION_TEXT}
		</div>
		<div class="ilFloatLeft massUserEditRight">
			<!-- BEGIN file_list -->
			<p>
				<div class="massUserEditWorkInstructionFiles">
					<strong>{UL_HEADER}</strong><hr>
					<ul>
						<!-- BEGIN file_list_item -->
						<li><a href="{HREF_LINK}">{HREF_TITLE}</a></li>
						<!-- END file_list_item -->
					</ul>
				</div>
			</p>
			<!-- END file_list -->
		</div>
		<div class="ilClearFloat" ></div>
	</div>
</div>
<!-- END work_instructions -->
<div class="ilInfoScreenSec" id="mass_edit_member_section_form">
	<h3>{TXT_SECTION_FORM}</h3>
	{FORM}
</div>