<tr>
	<td><a class="{ACCORDION_BUTTON_CLASS}">EX</a></td>
	<td>{TITLE}</td>
	<td>{STATUS}</td>
	<td>{TYPE}</td>
	<td>{LOCATION}</td>
	<td>{DATE}</td>
	<td>{ACTIONS}</td>
</tr>
<tr class="{ACCORDION_ROW}" style="display:none">
	<td  colspan="{COLSPAN}"><div>
	<h4>{TARGET_GROUP_CAPTION}</h4><p>{TARGET_GROUP}</p>
	<h4>{GOALS_CAPTION}</h4><p>{GOALS}</p>
	<h4>{CONTENTS_CAPTION}</h4><p>{CONTENTS}</p>
	<!-- BEGIN overnights -->
	<h4>{OVERNIGHTS_CAPTION}</h4><p>{OVERNIGHTS}</p>
	<!-- END overnights -->
	<a href="{CRS_LINK}">{CRS_LINK_CAPTION}</a>
	<!-- BEGIN cancel_date -->
	{CANCEL_DATE_CAPTION}: {CANCEL_DATE}
	<!-- END cancel_date -->
	</div></td>
</tr>