<li class="dropdown-submenu">
	<a class="dropdown-toggle {ENRTY_CLASS}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="{ENTRY_ID}" href="{ENTRY_HREF}">{ENTRY_TITLE}</a>
	<!-- BEGIN ajax_submenu -->
	<ul class="dropdown-menu">&nbsp;</ul>
	<!-- END ajax_submenu -->

	<!-- BEGIN fix_submenu_ul -->
	<ul class="dropdown-menu">
	<!-- END fix_submenu_ul -->
	<!-- BEGIN fix_submenu -->
	{ENTRY}
	<!-- END fix_submenu -->
	<!-- BEGIN fix_submenu_ul_end -->
	</ul>
	<!-- END fix_submenu_ul_end -->
</li>