<tr>
	<td><a class="{ACCORDION_BUTTON_CLASS}">EX</a></td>
	<td>{LASTNAME}</td>
	<td>{FIRSTNAME}</td>
	<td>{EMAIL}</td>
	<td>{ORG_UNIT}</td>
	<td>{TITLE}</td>
	<td>{TRAINING_TYPE}</td>
	<td>{DATE}</td>
	<td>{LANG}</td>
	<td>{DONE_AT}</td>
	<!-- BEGIN action_icon -->
	<td><a href="{ACTIONS}">{IMAGE}</a></td>
	<!-- END action_icon -->
	<!-- BEGIN action_blanco -->
	<td>&nbsp;</td>
	<!-- END action_blanco -->
</tr>
<tr class="{ACCORDION_ROW}" style="display:none">
	<td colspan="{COLSPAN}"><div>
	<h4>{ID}</h4><p>{TARGET_GROUP}</p>
	<h4>{CITY_HEADER}</h4><p>{CITY}</p>
	<h4>{TARGET_GROUP_HEADER}</h4><p>{TARGET_GROUP}</p>
	<h4>{OBJECTIVES_HEADER}</h4><p>{OBJECTIVES}</p>
	<h4>{CONTENT_HEADER}</h4><p>{CONTENT}</p>
	<h4>{RESULT_HEADER}</h4><p>{RESULT}</p>
	</div></td>
</tr>