<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- tpl.sahs_pres_frameset_js_one_page.html -->
	<title>ilias CoursePlayer (SCORM 1.2)</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<script type="text/javascript" src="{API_LINK}"></script>
	<meta name="viewport" content="width=device-width, maximum-scale=1" />
	
</head>

<script type="text/javascript">
    if(navigator.userAgent.match(/iPad/i)) {
    	var tpl = new Array(
 			'<frameset rows="*, 20" frameborder="0" framespacing="0" border="0">'
			,'	<frame src="./Modules/ScormAicc/templates/default/dummy.html" name="sahs_content" marginwidth="0" marginheight="0" scrolling="auto" />'
			,'	<frame />'
			,'</frameset>'
    	).join("\n");
    	
    } else {
    	var tpl = new Array(
 			'<frameset rows="*" frameborder="0" framespacing="0" border="0">'
			,'	<frame src="./Modules/ScormAicc/templates/default/dummy.html" name="sahs_content" marginwidth="0" marginheight="0" scrolling="auto" />'
			,'</frameset>'
	   	).join("\n");
    }
	document.open();
	document.write(tpl);
	document.close();    
/* <!-- BEGIN to_viwis_sco --> */
	var probe_frame_loading_timeout = 1000;
	var goto_sco = function() {
		//console.log("start");
		if (!document) {
			//console.log("no document");
			window.setTimeout(goto_sco, probe_frame_loading_timeout);
			return;
		}
		var sahs_content = document.getElementsByName("sahs_content");
		if (sahs_content.length == 0) {
			//console.log("no sahs_content");
			window.setTimeout(goto_sco, probe_frame_loading_timeout);
			return;
		}
		if (!sahs_content[0].contentWindow) {
			//console.log("no sahs_content.contentWindow");
			window.setTimeout(goto_sco, probe_frame_loading_timeout);
			return;
		}
		if (!sahs_content[0].contentWindow.document) {
			//console.log("no sahs_content.contentWindow.document");
			window.setTimeout(goto_sco, probe_frame_loading_timeout);
			return;
		}
		var frmSCO = sahs_content[0].contentWindow.document.getElementById("frmSCO");
		if (!frmSCO) {
			//console.log("no frmSCO");
			window.setTimeout(goto_sco, probe_frame_loading_timeout);
			return;
		}
		if (!frmSCO.contentWindow) {
			//console.log("no frmSCO.contentWindow");
			window.setTimeout(goto_sco, probe_frame_loading_timeout);
			return;
		}
		if (!frmSCO.contentWindow.gotoSCO) {
			//console.log("no frmSCO.contentWindow.gotoSCO");
			window.setTimeout(goto_sco, probe_frame_loading_timeout);
			return;
		}
		frmSCO.contentWindow.gotoSCO("ITEM_14", " ");
	};
	window.setTimeout(goto_sco, probe_frame_loading_timeout);
/* <!-- END to_viwis_sco --> */
</script>

</html>
