<!DOCTYPE>
<html>
<head>
	<!-- tpl.sahs_pres_frameset_js_one_page.html -->
	<title>ilias CoursePlayer (SCORM 1.2)</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<script type="text/javascript" src="{API_LINK}"></script>
	
	<meta name="viewport" content="width=device-width, maximum-scale=1" />
</head>

<body>
        <div style="margin: 0; position: fixed; right: 0; top: 0; left: 0; bottom: 0; -webkit-overflow-scrolling: touch; overflow-y: scroll">
                <iframe id="sahs_content" name="sahs_content" style="height: 100%; width: 100%;" src="./Modules/ScormAicc/templates/default/dummy.html">
                        <p>Your browser does not support iFrames.</p>
                </iframe>
        </div>
</body>

</html>
