<select id="{POSTVAR}[time]_h" name="{POSTVAR}[time][h]" {ADDITIONAL} {DISABLED}>
	<option value="0" {SELECTED_H_0} >00</option>
	<option value="1" {SELECTED_H_1} >01</option>
	<option value="2" {SELECTED_H_2} >02</option>
	<option value="3" {SELECTED_H_3} >03</option>
	<option value="4" {SELECTED_H_4} >04</option>
	<option value="5" {SELECTED_H_5} >05</option>
	<option value="6" {SELECTED_H_6} >06</option>
	<option value="7" {SELECTED_H_7} >07</option>
	<option value="8" {SELECTED_H_8} >08</option>
	<option value="9" {SELECTED_H_9} >09</option>
	<option value="10" {SELECTED_H_10} >10</option>
	<option value="11" {SELECTED_H_11} >11</option>
	<option value="12" {SELECTED_H_12} >12</option>
	<option value="13" {SELECTED_H_13} >13</option>
	<option value="14" {SELECTED_H_14} >14</option>
	<option value="15" {SELECTED_H_15} >15</option>
	<option value="16" {SELECTED_H_16} >16</option>
	<option value="17" {SELECTED_H_17} >17</option>
	<option value="18" {SELECTED_H_18} >18</option>
	<option value="19" {SELECTED_H_19} >19</option>
	<option value="20" {SELECTED_H_20} >20</option>
	<option value="21" {SELECTED_H_21} >21</option>
	<option value="22" {SELECTED_H_22} >22</option>
	<option value="23" {SELECTED_H_23} >23</option>
</select>
<select id="{POSTVAR}[time]_m" name="{POSTVAR}[time][m]" {ADDITIONAL} {DISABLED}>
	<option value="0" {SELECTED_M_0} >00</option>
	<option value="5" {SELECTED_M_5} >05</option>
	<option value="10" {SELECTED_M_10} >10</option>
	<option value="15" {SELECTED_M_15} >15</option>
	<option value="20" {SELECTED_M_20} >20</option>
	<option value="25" {SELECTED_M_25} >25</option>
	<option value="30" {SELECTED_M_30} >30</option>
	<option value="35" {SELECTED_M_35} >35</option>
	<option value="40" {SELECTED_M_40} >40</option>
	<option value="45" {SELECTED_M_45} >45</option>
	<option value="50" {SELECTED_M_50} >50</option>
	<option value="55" {SELECTED_M_55} >55</option>
</select>
<script>
	{SCRIPT}
</script>