<select id="{POSTVAR}[date]_y" name="{POSTVAR}[date][y]" {ADDITIONAL} {DISABLED}>
	<!-- BEGIN years -->
		<option value="{VALUE}" {SELECTED}>{TITLE}</option>
	<!-- END years -->
</select>
<select id="{POSTVAR}[date]_m" name="{POSTVAR}[date][m]" {ADDITIONAL} {DISABLED}>
	<!-- BEGIN months -->
		<option value="{VALUE}" {SELECTED}>{TITLE}</option>
	<!-- END months -->
</select>
<select id="{POSTVAR}[date]_d" name="{POSTVAR}[date][d]" {ADDITIONAL} {DISABLED}>
	<!-- BEGIN days -->
		<option value="{VALUE}" {SELECTED}>{TITLE}</option>
	<!-- END days -->
</select>
<script>
	{SCRIPT}
</script>